@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --linkPink: rgb(216, 29, 216);
    --linkPurple: rgb(98, 16, 250);
}


/* CSS Reset Start */
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}
/* CSS Reset End */












/* Desktop Style Start */
footer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    padding: 2rem;
    justify-content: center;
    justify-items: center;
    color: #ffffff;
}
/* Desktop Style End */


/* Mobile Style Start */
/* Mobile Style end */