@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --linkPink: rgb(216, 29, 216);
    --linkPurple: rgb(98, 16, 250);
}


/* CSS Reset Start */
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}
/* CSS Reset End */


/* Global Styles Start */
body {
    background-color: #1b1b1b;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
/* Global Styles End */



/* Desktop Style Start */
nav {
    padding: 2rem;
}

ul {
    display: grid;
    grid-template-columns: 1fr repeat(5, fit-content(7.5rem));
    justify-items: end;
    grid-gap: 3rem;

    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.full-width {
    display: grid;
    grid-column: 1 / 2;
    justify-self: start;
}

a {
    color: #ffffff;
    text-decoration: none;

    position: relative;
    text-decoration: none;
}

a::before {
    content: "";
    position: absolute;            
    height: 3px;
    right: 0px;
    bottom: -3px;
    left: 0px;
    background-color: var(--linkPink);
}

a:hover {
    color: var(--linkPink);
}

a:hover::before {
    background: linear-gradient(to right, var(--linkPink) 40%, var(--linkPurple) 75%);               
}
/* Desktop Style End */



/* Mobile Style Start */
@media (max-width: 600px) {

    ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3rem;
        justify-content: center;
        justify-items: center;
    }
    
    .full-width {
        grid-column: 1 / 6;
        justify-content: center;
        justify-items: center;
    }

}
/* Mobile Style end */







    